mkdocs>=1.5,<2.0
mkdocs-material>=9.5

# Plugins
mkdocs-mermaid2-plugin
mkdocs-glightbox
mkdocs-roamlinks-plugin
mkdocs-callouts
mkdocs-static-i18n
mkdocs-git-revision-date-localized-plugin
mkdocs-include-markdown-plugin